@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    background-image: url('walima-background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
}

.container {
    padding: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hall {
    color: #4CAF50;
    font-size: 2.0em !important;
}

h1 {
    text-align: center;
    color: #4CAF50;
    font-size: 2.0em; 
    font-weight: bold;
}

.walima-details p {
    font-size: 1.2em; 
    margin: 20px 0;
}

label {
    margin-top: 10px;
    color: #333;
    font-size: 1.2em;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0em; 
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

.form-hidden {
    display: none;
}

.thank-you-hidden {
    display: none;
}

.error-hidden {
    display: none;
}

.error-message {
    display: block;
    background-color: #ffdddd;
    color: #d8000c;
    padding: 10px;
    border: 1px solid #d8000c;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    top: 104%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.form-container {
    position: relative;
    height: 100vh;
}

.form-step {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(100%);
}

.form-step-active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.form-step-previous {
    display: block;
    opacity: 0;
    transform: translateX(-100%);
}

.input-group, .question-group {
    margin-bottom: 15px;
    text-align: center;
}

.question-group {
    margin-top: 50px;
}

input, textarea {
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.0em; /* Adjust font size for mobile */
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.radio-group label {
    margin: 0 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .container {
        width: 80%;
        max-width: 500px;
    }

    h1 {
        font-size: 3.0em;
    }

    .walima-details p, label {
        font-size: 1.5em;
    }

    input, textarea, button {
        font-size: 1.2em;
    }

    .error-message {
        font-size: 1.1em;
    }
}
